<div class="card">
    <div class="card-header">
      <h4 >Componente hijo</h4 >
    </div>
    <div class="card-body">
        <div class="card-text form-group">
            <label for="">Selecciona tu nombre</label>
            <input type="text" [(ngModel)] = "sNuevoNombre"
              class="form-control" name="nombre" id="nombre" >
          </div>
      <button (click)="responder()">No me gusta {{sNombre}}</button>
    </div>
    <div class="card-footer text-muted">
      Me llamo {{ sNombre }}
    </div>
  </div>
