<div class="card">
  <div class="card-header">
    <h3>Simulación de búsqueda asíncrona</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="nombre">Escribe una clave de búsqueda</label><!-- for apunta al valor de id siempre-->
      <input type="text" [(ngModel)]="sClave"
        class="form-control" name="" id="nombre" placeholder="Escrube tu nombre">
    </div>
  </div>
  <button class="btn btn-primary" (click)="buscar()">
    Buscar
  </button>

  <div class="card-footer text-muted" *ngIf="aLibros.length">
    <p>Resultados</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let libro of aLibros">Libro: {{libro}}</li>
    </ul>
  </div>
</div>